/*D0CUMENT0 CSS*/

* {margin: 0;
    padding: 0; 
}

body {
    background-color: #57825b;
}

h1 {text-align: center;
    font-family: Matemasie, sans-serif;
    background-color: whitesmoke;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 6px 10px #57825b;
}

.cabeza {width: 100%; 
    min-height: 1px;
    background-color: #92c27a;
    padding: 20px 0px;
}

.tablas table {margin: 10px auto 20px auto;
    width: 400px;
    background: #172821;
    padding: 10px;
}

.tablas tr {
    background: #92c27a;
}

.contenido {
    width: 70%;
    margin: 0px auto 0px 15px;
}

.contenido p {
    padding: 20px 0px 20px 0px;
    color: #172821;
    line-height: 1.3;
    font-size: 1.2em;
}

.footfetish {
    height: 80px;
    background: #57825b;
    text-align: center;
    line-height: 2em;
}

.footfetish span {
    line-height: 5em;
}

.tablas tr:first-child {
    background-color: #172821;
}

.contenido a:hover{
    color: red;
    background-color: black;
}